<div class="header">
    <img src="/img/viejo-logo.png" alt="logo">
    <div class="sub-header">
        <h1>Bienvenidos a "Boom Arts"</h1>
        <div>
            <nav>
                {{>menu}}
            </nav>
        </div>
        <div class="texto-bienvenida">
            <p>Una Explosión Artística a tus Sentidos!!!</p>
        </div>
    </div>

    <div class="search">
        <form action="post">
            <label for="search">Buscador</label>
            <input type="text" name="text" id="search" placeholder="Ingrese su busqueda" required>
            <button type="submit">Enviar</button>
        </form>
        <div class="iconos">
            <a href="/chat"><img src="img/iconos/home/chat.png" alt="chat">Chat</a>
            <a href="/fotos"><img src="img/iconos/home/foto.png" alt="foto">Fotos</a>
            <a href="/literatura"><img src="img/iconos/home/libro.png" alt="literatura">Literatura</a>
            <a href="/juegos"><img src="img/iconos/home/juegos.png" alt="juegos">Juegos</a>
        </div>
    </div>
</div>

{{!-- AQUI COMIENZA EL MAIN --}}

<div class="main">

    <div class="cabecera">
        <img src="/img/cocina/logo.png" alt="" class="img1">
        <img src="/img/cocina/titulo.png" alt="" class="img2">
        <img src="/img/cocina/cocinera.png" alt="" class="img3">
    </div>

    <div class="contenido-cocina">

        <h2>Bienvenidos al arte de las delicias</h2>
        <span>
            Aquí prepararemos deliciosas recetas de comidas, postres y tips de cocina.
        </span>

        <div class="postres">
            <h2>Postres Deliciosos</h2>
            <br>

            <div class="postres-cont">

                <div class="postres-card">
                    <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                    <div class="postres-card-info">
                        <h3>Lemon Pie</h3>
                        <br>
                        <h3>Ingredientes.</h3>
                        <p><strong>La Masa</strong></p>
                        <ul>
                            <li>200 gramos de harina 0000.</li>
                            <li>50 gramos de azúcar.</li>
                            <li>1 huevo.</li>
                            <li>100 gramos de manteca.</li>
                        </ul>
                        <p><strong>La Crema</strong></p>
                        <ul>
                            <li>1 cucharada de ralladura de limón.</li>
                            <li>1 paquete de leche condensada.</li>
                            <li>4 yemas de huevo.</li>
                            <li>150 centímetros cúbicos de jugo de limón.</li>
                        </ul>
                        <p><strong>El Merengue Italiano</strong></p>
                        <ul>
                            <li>240 gramos de azúcar.</li>
                            <li>3 claras de huevo.</li>
                        </ul>
                        <a href="#" class="toggle">Leer más</a>
                        <div class="extra-content">
                            <span>
                                aqui va la receta
                            </span>
                        </div>
                    </div>
                </div>

                <div class="postres-card">
                    <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                    <div class="postres-card-info">
                        <h3>Lemon Pie</h3>
                        <br>
                        <h3>Ingredientes.</h3>
                        <p><strong>La Masa</strong></p>
                        <ul>
                            <li>200 gramos de harina 0000.</li>
                            <li>50 gramos de azúcar.</li>
                            <li>1 huevo.</li>
                            <li>100 gramos de manteca.</li>
                        </ul>
                        <p><strong>La Crema</strong></p>
                        <ul>
                            <li>1 cucharada de ralladura de limón.</li>
                            <li>1 paquete de leche condensada.</li>
                            <li>4 yemas de huevo.</li>
                            <li>150 centímetros cúbicos de jugo de limón.</li>
                        </ul>
                        <p><strong>El Merengue Italiano</strong></p>
                        <ul>
                            <li>240 gramos de azúcar.</li>
                            <li>3 claras de huevo.</li>
                        </ul>
                        <a href="#" class="toggle">Leer más</a>
                        <div class="extra-content">
                            <span>
                                aqui va la receta
                            </span>
                        </div>
                    </div>
                </div>

                <div class="postres-card">
                    <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                    <div class="postres-card-info">
                        <h3>Lemon Pie</h3>
                        <br>
                        <h3>Ingredientes.</h3>
                        <p><strong>La Masa</strong></p>
                        <ul>
                            <li>200 gramos de harina 0000.</li>
                            <li>50 gramos de azúcar.</li>
                            <li>1 huevo.</li>
                            <li>100 gramos de manteca.</li>
                        </ul>
                        <p><strong>La Crema</strong></p>
                        <ul>
                            <li>1 cucharada de ralladura de limón.</li>
                            <li>1 paquete de leche condensada.</li>
                            <li>4 yemas de huevo.</li>
                            <li>150 centímetros cúbicos de jugo de limón.</li>
                        </ul>
                        <p><strong>El Merengue Italiano</strong></p>
                        <ul>
                            <li>240 gramos de azúcar.</li>
                            <li>3 claras de huevo.</li>
                        </ul>
                        <a href="#" class="toggle">Leer más</a>
                        <div class="extra-content">
                            <span>
                                aqui va la receta
                            </span>
                        </div>
                    </div>
                </div>

                <div class="postres-card">
                    <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                    <div class="postres-card-info">
                        <h3>Lemon Pie</h3>
                        <br>
                        <h3>Ingredientes.</h3>
                        <p><strong>La Masa</strong></p>
                        <ul>
                            <li>200 gramos de harina 0000.</li>
                            <li>50 gramos de azúcar.</li>
                            <li>1 huevo.</li>
                            <li>100 gramos de manteca.</li>
                        </ul>
                        <p><strong>La Crema</strong></p>
                        <ul>
                            <li>1 cucharada de ralladura de limón.</li>
                            <li>1 paquete de leche condensada.</li>
                            <li>4 yemas de huevo.</li>
                            <li>150 centímetros cúbicos de jugo de limón.</li>
                        </ul>
                        <p><strong>El Merengue Italiano</strong></p>
                        <ul>
                            <li>240 gramos de azúcar.</li>
                            <li>3 claras de huevo.</li>
                        </ul>
                        <a href="#" class="toggle">Leer más</a>
                        <div class="extra-content">
                            <span>
                                aqui va la receta
                            </span>
                        </div>
                    </div>
                </div>

                <div class="postres-card">
                    <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                    <div class="postres-card-info">
                        <h3>Lemon Pie</h3>
                        <br>
                        <h3>Ingredientes.</h3>
                        <p><strong>La Masa</strong></p>
                        <ul>
                            <li>200 gramos de harina 0000.</li>
                            <li>50 gramos de azúcar.</li>
                            <li>1 huevo.</li>
                            <li>100 gramos de manteca.</li>
                        </ul>
                        <p><strong>La Crema</strong></p>
                        <ul>
                            <li>1 cucharada de ralladura de limón.</li>
                            <li>1 paquete de leche condensada.</li>
                            <li>4 yemas de huevo.</li>
                            <li>150 centímetros cúbicos de jugo de limón.</li>
                        </ul>
                        <p><strong>El Merengue Italiano</strong></p>
                        <ul>
                            <li>240 gramos de azúcar.</li>
                            <li>3 claras de huevo.</li>
                        </ul>
                        <a href="#" class="toggle">Leer más</a>
                        <div class="extra-content">
                            <span>
                                aqui va la receta
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="comidas-elaboradas">
        <h2>Comidas Elaboradas</h2>
        <span>
            Aquí prepararemos deliciosas comidas glamorosas con delicadeza.
        </span>
        <br>

        <div class="comidas-cont">

            <div class="comidas-card">
                <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                <div class="comidas-card-info">
                    <h3>Lemon Pie</h3>
                    <br>
                    <h3>Ingredientes.</h3>
                    <p><strong>La Masa</strong></p>
                    <ul>
                        <li>200 gramos de harina 0000.</li>
                        <li>50 gramos de azúcar.</li>
                        <li>1 huevo.</li>
                        <li>100 gramos de manteca.</li>
                    </ul>
                    <p><strong>La Crema</strong></p>
                    <ul>
                        <li>1 cucharada de ralladura de limón.</li>
                        <li>1 paquete de leche condensada.</li>
                        <li>4 yemas de huevo.</li>
                        <li>150 centímetros cúbicos de jugo de limón.</li>
                    </ul>
                    <p><strong>El Merengue Italiano</strong></p>
                    <ul>
                        <li>240 gramos de azúcar.</li>
                        <li>3 claras de huevo.</li>
                    </ul>
                    <a href="#" class="toggle">Leer más</a>
                    <div class="extra-content">
                        <span>
                            aqui va la receta
                        </span>
                    </div>
                </div>
            </div>

            <div class="comidas-card">
                <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                <div class="comidas-card-info">
                    <h3>Lemon Pie</h3>
                    <br>
                    <h3>Ingredientes.</h3>
                    <p><strong>La Masa</strong></p>
                    <ul>
                        <li>200 gramos de harina 0000.</li>
                        <li>50 gramos de azúcar.</li>
                        <li>1 huevo.</li>
                        <li>100 gramos de manteca.</li>
                    </ul>
                    <p><strong>La Crema</strong></p>
                    <ul>
                        <li>1 cucharada de ralladura de limón.</li>
                        <li>1 paquete de leche condensada.</li>
                        <li>4 yemas de huevo.</li>
                        <li>150 centímetros cúbicos de jugo de limón.</li>
                    </ul>
                    <p><strong>El Merengue Italiano</strong></p>
                    <ul>
                        <li>240 gramos de azúcar.</li>
                        <li>3 claras de huevo.</li>
                    </ul>
                    <a href="#" class="toggle">Leer más</a>
                    <div class="extra-content">
                        <span>
                            aqui va la receta
                        </span>
                    </div>
                </div>
            </div>

            <div class="comidas-card">
                <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                <div class="comidas-card-info">
                    <h3>Lemon Pie</h3>
                    <br>
                    <h3>Ingredientes.</h3>
                    <p><strong>La Masa</strong></p>
                    <ul>
                        <li>200 gramos de harina 0000.</li>
                        <li>50 gramos de azúcar.</li>
                        <li>1 huevo.</li>
                        <li>100 gramos de manteca.</li>
                    </ul>
                    <p><strong>La Crema</strong></p>
                    <ul>
                        <li>1 cucharada de ralladura de limón.</li>
                        <li>1 paquete de leche condensada.</li>
                        <li>4 yemas de huevo.</li>
                        <li>150 centímetros cúbicos de jugo de limón.</li>
                    </ul>
                    <p><strong>El Merengue Italiano</strong></p>
                    <ul>
                        <li>240 gramos de azúcar.</li>
                        <li>3 claras de huevo.</li>
                    </ul>
                    <a href="#" class="toggle">Leer más</a>
                    <div class="extra-content">
                        <span>
                            aqui va la receta
                        </span>
                    </div>
                </div>
            </div>

            <div class="comidas-card">
                <img src="/img/cocina/lemon.jpeg" alt="lemon-pie">
                <div class="comidas-card-info">
                    <h3>Lemon Pie</h3>
                    <br>
                    <h3>Ingredientes.</h3>
                    <p><strong>La Masa</strong></p>
                    <ul>
                        <li>200 gramos de harina 0000.</li>
                        <li>50 gramos de azúcar.</li>
                        <li>1 huevo.</li>
                        <li>100 gramos de manteca.</li>
                    </ul>
                    <p><strong>La Crema</strong></p>
                    <ul>
                        <li>1 cucharada de ralladura de limón.</li>
                        <li>1 paquete de leche condensada.</li>
                        <li>4 yemas de huevo.</li>
                        <li>150 centímetros cúbicos de jugo de limón.</li>
                    </ul>
                    <p><strong>El Merengue Italiano</strong></p>
                    <ul>
                        <li>240 gramos de azúcar.</li>
                        <li>3 claras de huevo.</li>
                    </ul>
                    <a href="#" class="toggle">Leer más</a>
                    <div class="extra-content">
                        <span>
                            aqui va la receta
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="tips">

        <h2>Tips y trucos de cocina</h2>

        <div class="cont-tips">

            <img src="/img/cocina/tip1.jpg" alt="tips 1">
            <img src="/img/cocina/tip2.jpg" alt="tips 2">
            <img src="/img/cocina/tip3.jpg" alt="tips 3">
            <img src="/img/cocina/tip4.jpg" alt="tips 4">

            <div class="tips-celu">
                <ul>
                    <li>1 - Cuando vayas a cocinar algo en un sartén, jamás lo hagas partiendo de la temperatura
                        ambiente.
                        Prende el fuego, vierte algo de aceite y ya cuando esté caliente agrega la comida.
                        Nunca antes, porque ese ingrediente absorverá toda la grasa.</li>
                    <br>
                    <li>2 - Sazona los ingredientes en crudo y entre más tiempo dejes pasar antes de cocinarlo,
                        tomará mejor sabor.</li>
                    <br>
                    <li>3 - Nunca dejes de cocer la pasta por más de 10 minutos. De hecho, calcula entre 4 y 7
                        de acuerdo
                        con el tipo de corte.</li>
                    <br>
                    <li>4 - Los vegetales obtienen mejor sabor, textura y permanencia de nutrientes si las
                        cocinas al vapor en vez
                        de cocinarlas al agua.</li>
                    <br>
                    <li>5 - Sabes que tus verduras estan listas para comer cuando clavas un tenedor y sale con
                        facilidad.
                        Si presentan algo de resistencia están al dente, lo que quiere decir que están bien
                        cocidas
                        pero aún crujen. Esta pequeña parte se llama <strong>Felicidad.</strong>
                    </li>
                    <br>
                    <li>6 - Si decidiste hornear galletas nunca dejen que se hagan duras en el horno. Sácalas
                        cuando comiencen
                        a dorar de las orillas y sigan un poco blandas para que el cambio de temperaturas tomen
                        la textura perfecta.
                    </li>
                    <br>
                    <li>7 - Siempre piensa en el elemento crujiente de tu plato. No necesariamente debe estar
                        frita: semillas, hojuelas de
                        chile o frutos secos pueden dar esa sensación sabrosa.
                    </li>
                    <br>
                    <li>8 - Prueba tu preparación cada vez que incorpores un ingrediente.</li>
                    <br>
                    <li>9 - Cuando cocines algo en el horno y quieres que tome color pero que no se seque,
                        tapalo con aluminio la mitad del tiempo y destapalo el resto.
                    </li>
                    <br>
                    <li>10 - No le tengas miedo a los cuchillos filosos. Entre menos afilados estén, más
                        probabilidades tienes de lastimarte</li>
                    <br>
                    <li>11 - Siempre remoja tus legumbres por lo menos un noche antes de usarlos. Esto evitará
                        que queden duros y te generen problemas digestivos.</li>
                    <br>
                    <li>12 - Utiliza mandiles de algodón. Si algo sale mal y el fuego se sale de control, este
                        material te protegerá mejor que cualquier otro. </li>
                </ul>
            </div>

        </div>

    </div>

</div>

{{!-- FOOTER --}}
<hr>
<div class="footer">

    <div class="gps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.5310748387606!2d-57.951977811446405!3d-34.918215604142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e624d3416e3b%3A0x47471c8a471ea576!2sC.%2055%20642%2C%20B1900BGZ%20La%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1714487123773!5m2!1ses!2sar"
            height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div>
        {{>menuFooter}}

        <br><br>
        <div class="contactos">
            <div class="face">
                <img src="./img/iconos/facebook.png" alt="logo-face">
                <p> : /boomArts</p>
            </div>
            <div class="instagram">
                <img src="./img/iconos/instagram.png" alt="logo-face">
                <p> : /boomArts</p>
            </div>
            <div class="whatsapp">
                <img src="./img/iconos/whatsapp.png" alt="logo-face">
                <p> : 221 304-1421</p>
            </div>
        </div>

    </div>


    <div class="logo">
        <img src="./img/viejo-logo.png" alt="logo">
    </div>

</div>



<script src="/js/card-recetas.js"></script>
<script src="/js/card-comidas.js"></script>