<div class="header">
    <img src="/img/viejo-logo.png" alt="logo">
    <div class="sub-header">
        <h1>Bienvenidos a "Boom Arts"</h1>
        <div>
            <nav>
                {{>menu}}
            </nav>
        </div>
        <div class="texto-bienvenida">
            <p>Una Explosión Artística a tus Sentidos!!!</p>
        </div>
    </div>

    <div class="search">
        <form action="post">
            <label for="search">Buscador</label>
            <input type="text" name="text" id="search" placeholder="Ingrese su busqueda" required>
            <button type="submit">Enviar</button>
        </form>
        <div class="iconos">
            <a href="/chat"><img src="img/iconos/home/chat.png" alt="chat">Chat</a>
            <a href="/fotos"><img src="img/iconos/home/foto.png" alt="foto">Fotos</a>
            <a href="/literatura"><img src="img/iconos/home/libro.png" alt="literatura">Literatura</a>
            <a href="/juegos"><img src="img/iconos/home/juegos.png" alt="juegos">Juegos</a>
        </div>
    </div>
</div>

{{!-- AQUI COMIENZA EL MAIN --}}

<div class="main">

    <div class="secciones">

        <div class="cabecera-diseño">
            <img src="/img/diseño/diseñadora.png" alt="" class="img1">
            <img src="/img/diseño/titulo.png" alt="" class="img2">
            <img src="/img/diseño/diseño.png" alt="" class="img3">
        </div>

        <hr>
        <BR>
        <div class="disenio">

            <div class="titulo">
                <h2>Elige tu diseño</h2>
            </div>
            <p>Diseñamos tu logo Personal o Empresarial. <br>
                Diseñamos cuadros simples, Dípticos o Trípticos. <br>
                Diseñamos lonas para eventos. (medidas personalizadas)
            </p>

            <div class="card">
                <img src="/img/diseño/main/diseño.jpg" alt="">
                <div class="card-info">
                    <h3>Diseños</h3>
                    <p>Diseños personales o empresariales.</p>
                    <p>Logotipos o digitales</p>
                    <p>$1500</p>
                    <button type="submit">Agregar al Carrito</button>
                </div>
            </div>

            <div class="card">
                <img src="/img/diseño/main/cuadros.jpg" alt="">
                <div class="card-info">
                    <h3>Cuadros</h3>
                    <p>Medidas estandar 30 x 45 cm.</p>
                    <p>Medidas personalizadas a definir</p>
                    <p>$1500 c/u</p>
                    <button type="submit">Agregar al Carrito</button>
                </div>
            </div>

            <div class="card">
                <img src="/img/diseño/main/lonas.jpg" alt="">
                <div class="card-info">
                    <h3>Lonas</h3>
                    <p>Para eventos o comercios.</p>
                    <p>Medida 0,50 x 1 m.</p>
                    <p>$2000</p>
                    <button type="submit">Agregar al Carrito</button>
                </div>
            </div>
        </div>

        <br>

        <div class="manualidades">

            <div class="card">
                <img src="/img/diseño/main/diseño.jpg" alt="">
                <div class="card-info">
                    <h3>Diseños</h3>
                    <p>Diseños personales o empresariales.</p>
                    <p>Logotipos o digitales</p>
                    <p>$1500</p>
                    <button type="submit">Agregar al Carrito</button>
                </div>
            </div>

            <div class="card">
                <img src="/img/diseño/main/cuadros.jpg" alt="">
                <div class="card-info">
                    <h3>Cuadros</h3>
                    <p>Medidas estandar 30 x 45 cm.</p>
                    <p>Medidas personalizadas a definir</p>
                    <p>$1500 c/u</p>
                    <button type="submit">Agregar al Carrito</button>
                </div>
            </div>

            <div class="card">
                <img src="/img/diseño/main/lonas.jpg" alt="">
                <div class="card-info">
                    <h3>Lonas</h3>
                    <p>Para eventos o comercios.</p>
                    <p>Medida 0,50 x 1 m.</p>
                    <p>$2000</p>
                    <button type="submit">Agregar al Carrito</button>
                </div>
            </div>

            <div class="titulo2">
                <h2>Manualidades - Hazlo tu mismo</h2>
                <p>Si lo puedes imaginar lo puedes crear. <br>
                    Puedes hacer bellas tarjetas o simples <br>
                    decoraciones.
                </p>
            </div>
        </div>


        <div class="cine-comic">

            <div class="cine" id="cine">
                <div class="cine-cont">
                    <div class="titulo3">
                        <h2>Cinéfilos a la acción</h2>
                    </div>
                    <br>
                    <SPAN>
                        Toda la información del cine de la actualidad, novedades y chimentos del mundo del espectáculo.
                        Juega con nuestras trivias acerca de cuantos sabes del cine y
                        gana fabulosos premios. El comic en el Cine cambia al mundo y expande una nueva realidad.
                    </SPAN>
                </div>
                <h2>Futuros Estrenos</h2>

                <div class="cards-cineCont">

                    <div class="card-cine">
                        <div class="card-cine-info">
                            <img src="/img/cine/badboy.jpg" alt="bad_boy">
                            <h3>Bad Boys: Hasta la muerte</h3>
                            <span>
                                Los <strong>Bad Boys</strong> favoritos regresan con su icónica mescla de acción
                                al límite y comedia delirante, pero esta vez con un inesperado giro: los mejores
                                de Miami estan huyendo.
                            </span>
                        </div>
                    </div>

                    <div class="card-cine">
                        <div class="card-cine-info">
                            <img src="/img/cine/hamlet.jpg" alt="bad_boy">
                            <h3>La Leyenda del flautista de Hamlet</h3>
                            <span>
                                La maestra Oliva se da cuenta de la desaparición de alguno de sus alumnos
                                y se enfrenta con sus propios demonios de un pasado turbulento.
                            </span>
                        </div>
                    </div>

                    <div class="card-cine">
                        <div class="card-cine-info">
                            <img src="/img/cine/villano4.jpg" alt="bad_boy">
                            <h3>Mi Villano Favorito: 4</h3>
                            <span>
                                Cuarta entrega de <strong>Mi Villano Favorito</strong> que siguen las aventuras del
                                villano Gru, su familia y sus Minions.
                            </span>
                        </div>
                    </div>

                    <div class="card-cine">
                        <div class="card-cine-info">
                            <img src="/img/cine/deadpool.jpg" alt="deadpool">
                            <h3>Deadpool & Wolverine</h3>
                            <span>
                                Tercera entrega de la saga <strong>Deadpool</strong> ahora integrada en el universo
                                cinematográfico de Marvel(MCU). Con la participación de Hugh Jackam como Lovezno
                                por primera vez desde "Logan".
                            </span>
                        </div>
                    </div>

                    <div class="trivia">
                        <h3>Que tanto Sabes de Cine</h3>
                        <br>
                        <span>Bienvenidos a la trivia de Cine. <br>
                            Que tanto sabes del mundo de espectáculo.
                        </span>
                    </div>
                </div>

            </div>

            <div class="comic" id="comic">
                <div class="titulo3">
                    <h2>El mundo de los Comics</h2>
                </div>
                <span>
                    Con las innovaciones tecnológicas en el cine, el mundo del Comic ha tenido <br>
                    una gran relevancia. Hemos podido profundizar en el imneso universo de las <br>
                    historietas y conocer mejor los rasgos más importantes de nuestros personajes <br>
                    favoritos. <br>
                    ¿Te gustaría conocer datos curiosos e interesantes de personajes del comic <br>
                    que seguramente desconocias?
                </span>
                <img src="/img/diseño/sabias.png" alt="sabias">
                <hr>
                <div class="comic-cont">
                    <div class="card-cine">
                        <h2>UNIVERSO MARVEL(UCM)</h2>
                        <div class="card-comic-info">
                            <br>
                            <img src="/img/comic/punisher.jpg" alt="punisher">
                            <img src="/img/comic/venom.jpg" alt="venom">
                            <img src="/img/comic/cap.jpg" alt="cap">

                            <h3> <STRONG>El día que The Punisher acabó con todos</STRONG></h3>
                            <br>
                            <span>
                                En 1995, una publicación titulada Punisher mata el universo de Marvel,
                                The Punisher asesina a cada uno de los superhéroes y los villanos de Marvel,
                                uno tras otro hasta terminar por quitarse la vida.
                            </span>

                            <br><br>

                            <h3> <STRONG>Venom básicamente fue creado por un fan</STRONG></h3>
                            <span>
                                Venom es uno de los villanos más espectaculares de Marvel, ¿o no? Lo que no muchos saben
                                es que en realidad
                                se trata de un personaje originalmente creado a partir del concepto de un fan que Marvel
                                compró por 220 dólares.
                                Además, en un principio, la idea del fan era que Venom fuese una mujer.
                            </span>

                            <br><br>

                            <h3> <STRONG>El Capitán América tuvo que cambiar su escudo</STRONG></h3>
                            <br>
                            <span>
                                El escudo del Capitán América necesariamente debía ser algo icónico, simbólico y de gran
                                relevancia, es decir...
                                le dio en la cara a Hitler con él y le salvó el trasero en innumerables oportunidades.
                                La cuestión es que,
                                originalmente, el escudo del Capitán América tenía forma de escudo heráldico (Joe Simon
                                y Jack Kirby lo diseñaron así)
                                y no circular como el que todos conocemos, Marvel tuvo que volverlo circular por una
                                demanda de MLJ (Archie Comic Publications, Inc.),
                                ya que The Shield (un personaje patriótico muy similar) ya tenía un escudo con esa
                                forma.
                            </span>

                        </div>
                    </div>
                </div>

            </div>



        </div>


    </div>






</div>

{{!-- FOOTER --}}
<hr>
<div class="footer">

    <div class="gps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.5310748387606!2d-57.951977811446405!3d-34.918215604142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e624d3416e3b%3A0x47471c8a471ea576!2sC.%2055%20642%2C%20B1900BGZ%20La%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1714487123773!5m2!1ses!2sar"
            height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div>
    {{>menuFooter}}

<br><br>
        <div class="contactos">
            <div class="face">
                <img src="./img/iconos/facebook.png" alt="logo-face">
                <p> : /boomArts</p>
            </div>
            <div class="instagram">
                <img src="./img/iconos/instagram.png" alt="logo-face">
                <p> : /boomArts</p>
            </div>
            <div class="whatsapp">
                <img src="./img/iconos/whatsapp.png" alt="logo-face">
                <p> : 221 304-1421</p>
            </div>
        </div>

    </div>


    <div class="logo">
        <img src="./img/viejo-logo.png" alt="logo">
    </div>

</div>