<div class="header">
    <img src="/img/viejo-logo.png" alt="logo">
    <div class="sub-header">
        <h1>Bienvenidos a "Boom Arts"</h1>
        <div>
            <nav>
                {{>menu}}
            </nav>
        </div>
        <div class="texto-bienvenida">
            <p>Una Explosión Artística a tus Sentidos!!!</p>
        </div>
    </div>

    <div class="search">
        <form action="post">
            <label for="search">Buscador</label>
            <input type="text" name="text" id="search" placeholder="Ingrese su busqueda" required>
            <button type="submit">Enviar</button>
        </form>
        <div class="iconos">
            <a href="/chat"><img src="img/iconos/home/chat.png" alt="chat">Chat</a>
            <a href="/fotos"><img src="img/iconos/home/foto.png" alt="foto">Fotos</a>
            <a href="/literatura"><img src="img/iconos/home/libro.png" alt="literatura">Literatura</a>
            <a href="/juegos"><img src="img/iconos/home/juegos.png" alt="juegos">Juegos</a>
        </div>
    </div>
</div>

{{!-- AQUI COMIENZA EL MAIN --}}

<div class="main">
    <div class="cabecera">
        <img src="/img/historia/hombre-lupa.png" alt="1" class="img1">
        <img src="/img/historia/pergamino.png" alt="2">
        <img src="/img/historia/mapa-tesoro.png" alt="3" class="img3">
    </div>

    <div class="card1-cont">
        <img src="/img/historia/art-attack.png" alt="art attak">
        <div class="card1-info">
            <h2>Comienzos</h2>
            <br>
            <span>Por el año 2007 existió un programa infantil por la televisión por cable, llamado <strong>ARTS ATTACK</strong>.
            En el mismo, fomentaba la creatividad en su estado natural, creando obras artísticas caseras con elementos accesibles en nuestra vida cotidiana.
            </span>
            <span>Ese fue el incentivo necesario, esa chispa precisa para despertar en mí todo acto creativo, descubriendo cada fase de lo artístico. 
                Aquí comenzaría un largo camino en el aprendizaje de nuevas técnicas, nuevos desafíos, nuevas disciplinas para ofrecer a las personas
                la belleza de distintas obras finalizadas con una estética estrictamente especial. Aquí comenzaría nuestro nombre empresarial <strong>Boom Arts</strong>, 
                y su eslogan que nos caracteriza, <strong>"una explosión a los sentidos</strong>!!!.
            </span>
            <br>
            <span>En esos años mis conocimientos estaban orientados al diseño gráfico en general, y habría comenzado a experimentar mis primeros pasos en las artes videográficas.
                La edición de video en distintos software sobre la computadora orientados a los efectos especiales fue cautivandome de a poco, generando nuevas producciones artísticas
                y presentaciones especiales de diapositivas con varias fotografías. Allí mismo comence a trabajar en los primeros comienzos de producciones audiovisuales donde mesclaba
                fotografías y videos en una misma producción. En el año 2010 tuve el placer de recibirme como fotógrafo en una academia, donde aprendí a manejar el uso completo de una cámara
                fotográfica. En esa academia también he aprendido a conocer los medios precisos para generar una fotografía en papel, pasando por seminarios de laboratorio y revelado de fotos, 
                fotografía digital, fotografía documental, fotografía estenopeica. Allí mismo pude comprarme mi primer cámara fotográfica y comenzar el camino al mundo del arte de la fotografía.
            </span>
        </div>
    </div>

    <div class="card2-cont">
        <div class="card2-info">
            <h2>Fotografía y Diseño Gráfico</h2>
            <br>
            <span>A partir del año 2010 y hasta el 2019 mi camino me condujo al arte de la fotografía. Inicie mis pasos en los primeros trabajos fotográficos los que me fueron surgiendo
                relacionado a los primeros eventos que se iban sucitando, los cumpleaños infantiles. Así comencé a empaparme de estos eventos y adquirir experiencia en el manejo de la cámara fotográfica.
                Para mí, la escena iba mas allá de una toma comun y corriente, en ella buscaba captar un conjunto de emociones que tras apreciarla logren captar aquellos hermosos sentimientos encontrados. 
                Así fui enamorándome de cada escena recreada de la vida cotidiana, aprendí que para lograr captar una buena fotografía no había que generar tanta estrategia, las mejores fotografias son las 
                espontáneas, las que salen de manera casual, desde mi perspectiva.
            </span>
            <br>
            <span>
                A partir del 2012 comencé a explorar eventos mas grandes, como cumpleaños de quince y casamientos. Allí comence a explorar mis dotes artísticos mechando entre la fotografía y el diseño gráfico
                para ofrecer paquetes artísticos mas completos, como por ejemplo lonas diseñadas con sus portabaner, libro de firmas y fotolibros de fotografías con diseños temáticos y divertidos, y hasta
                imanes personalizados y diseñados por temáticas como regalo de souvenir. También incluían esos paquetes la realización de un video de foto diapositivas con efectos y sonidos, que se 
                reproducían la noche de esos eventos, con motivo de llegar aun más a sus corazones. Llegando al año 2019 y al estar inmerso de experiencia en la fotografía, empecé a explorar lo que se siente
                realizar exposiciones fotográficas, incluyendo la estrategia de marketing y todo su desarrollo social. Pude realizar 2 hermosas exposiciones fotográficas antes de terminar con un
                feo accidente a mi herramienta de trabajo, mi cámara de fotos y así dejar la fotografía.
            </span>
        </div>
        <img src="/img/historia/fotografia.png" alt="art attak">
    </div>

    <div class="card1-cont">
        <img src="/img/historia/exposicion.png" alt="art attak">
        <div class="card1-info">
            <h2>Exposiciones Artísticas</h2>
            <br>
            <span>Desde el año 2019 y hasta el 2021 he realizado 2 hermosas exposiciones fotográficas temáticas. La primera de ellas con un tema fuerte, polémico que abarca un análisis profundo en la sociedad,
                <strong>la Violencia de Género</strong>. Hay muchas formas de encabezar una exposición de este calibre, pero yo me quise orientar desde el primer momento en concientizar como se ve en realidad
                lo que se suele escuchar por todas partes pero no se logra observar con la realidad. Mis fotografías querían retratar el nivel de violencia de género que existe en el mundo, desde el aspecto
                mas sencible y menos mortífero hasta el punto crítico de la locura y la inmersión en la locura misma. Logré captar el estado alocado desde una perspectiva de victimario y el estado vulnerable
                y humilde desde una perspectiva de vitcima. Algunas fotografías han sido tan crudas y fuertes que no se me han permitido ser exhibidas. Esa exposicion genero mucha polémica y fue un éxito total,
                cuyo paso dió para realizar mi segunda y última exposición relacionado a un tema más cultural e histórico, <strong>la Mitología Griega</strong>. En esta última, pude realizar con un grupo de amigos
                y amigas, una selección más amplia de obras donde también incursioné en algunos de los atuendos que portaron los y las modelos, como así también en el exhaustivo y obsesivo criterio de diseño
                en Photoshop de cada obra, en total pude lograr 23 hermosas obras de la mitología griega, mostrando a los dioses del olimpo y algunos personajes extras.
            </span>
            <br><br>
        </div>
    </div>

    <div class="card1-cont">
        <div class="card1-info">
            <span class="ultimo-pa">En la actualidad he incusionado y lo sigo haciendo en el área de sistemas, programación en javascript, frontend, backend, desarrollo web, react y diversas innovaciones tecnológicas.</span>
        </div>
    </div>

</div>

{{!-- FOOTER --}}
<hr>
<div class="footer">

    <div class="gps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.5310748387606!2d-57.951977811446405!3d-34.918215604142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e624d3416e3b%3A0x47471c8a471ea576!2sC.%2055%20642%2C%20B1900BGZ%20La%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1714487123773!5m2!1ses!2sar"
            height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div>
    {{>menuFooter}}

<br><br>
        <div class="contactos">
            <div class="face">
                <img src="./img/iconos/facebook.png" alt="logo-face">
                <p> : /boomArts</p>
            </div>
            <div class="instagram">
                <img src="./img/iconos/instagram.png" alt="logo-face">
                <p> : /boomArts</p>
            </div>
            <div class="whatsapp">
                <img src="./img/iconos/whatsapp.png" alt="logo-face">
                <p> : 221 304-1421</p>
            </div>
        </div>

    </div>


    <div class="logo">
        <img src="./img/viejo-logo.png" alt="logo">
    </div>

</div>