<div class="links">

            <a href="/">Inicio </a>
            |
            <a href="/historia"> Historia </a>
            |
            <a href="/disenio"> Diseño Gráfico </a>
            |
            <a href="/cursos"> Cursos </a>
            |
            <a href="/cocina"> Cocina </a>
            |
            <a href=""> Papercraft </a>
            |
            <a href=""> Cine </a>
            |
            <a href=""> Tencología </a>
            |
            <a href=""> Literatura </a>
            |
            <a href=""> Galeria </a>
            |
            <a href="/contacto"> Contacto</a>
            
        </div>