<ul>

    <li>
        <a href="/">Home Page</a>
    </li>
    <li>
        <a href="/historia">Historia</a>
    </li>
    <li>
        <a href="/disenio">Diseño</a>
    </li>   
    <li>
        <a href="/cursos">Cursos</a>
    </li>
    <li>
        <a href="/cocina">Cocina</a>
    </li>
    <li>
        <a href="/contacto">Contacto</a>
    </li>

</ul>