.footer{
    width: 100%;
    height: 18.75rem;
    background-color: rgba(23, 23, 80, 0.678);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

/*     REDES SOCIALES  */

.redes .face{
    display: flex;
    margin-top: 1.875rem;
}
.redes .face img{
    height: 2.5rem;
    padding-top: .3125rem;
}
.redes .face p{
    padding: .625rem;
    color: whitesmoke;
    text-align: center;
}

.redes .insta{
    display: flex;
}
.redes .insta img{
    height: 2.5rem;
    padding-top: .3125rem;
}
.redes .insta p{
    padding: .625rem;
    color: whitesmoke;
    text-align: center;
}

.redes .whats{
    display: flex;
}
.redes .whats img{
    height: 2.5rem;
    padding-top: .3125rem;
}
.redes .whats p{
    padding: .625rem;
    color: whitesmoke;
    text-align: center;
}

/*    LINKS    */

.links{
    width: 40.625rem;
    margin-top: 1.25rem;
}
.links ul li{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: .625rem;
    justify-content: center;
    align-items: center;
}
.links ul li a, .barra{
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    color: whitesmoke;
    text-shadow: .125rem .125rem .1875rem black;
    padding: .9375rem;
}
.links ul li a:hover{
    color: rgb(185, 165, 140);
}


/* imagen logo footer */

.logo-img img{
    height: 11.25rem;
}