*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: rgb(10, 10, 50);
}
.linea-fina{
  height: 1px;
}
.linea-fina{
  height: 2px;
  background-color: black;
}
.sabias{
  display: flex;
  justify-content: center;
}
.sabias img{
  padding: .625rem;
  height: 11.25rem;
}