*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@font-face {
  font-family: "Hello";
  src: url("../public/typo/Hello-Whistle.otf");
}
@font-face {
  font-family: "Amarillo";
  src: url("../public/typo/Amarillo.otf");
}
body{
  background-image: url("../public/img/fondo-body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.linea-fina{
  height: 1px;
}
.linea-fina{
  height: 2px;
  background-color: black;
}
.sabias{
  display: flex;
  justify-content: center;
}
.sabias img{
  padding: .625rem;
  height: 11.25rem;
}

/* PAGINAS */

.quienes{
  background-image: url("../public/img/fondo-quienes.jpg");
  background-position: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 96.875rem;
  margin-top: .625rem;
  text-align: center;
}
.diseño{
  background-image: url("../public/img/diseño.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 56.25rem;
  margin-top: .625rem;
}
.cursos{
  background-image: url("../public/img/cursos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 56.25rem;
  margin-top: .625rem;
}
.manualidades{
  background-image: url("../public/img/manualidades.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 56.25rem;
  margin-top: .625rem;
}
.cocina{
  background-image: url("../public/img/cocina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 56.25rem;
  margin-top: .625rem;
}
.juegos{
  background-image: url("../public/img/juegos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 56.25rem;
  margin-top: .625rem;
}
.contacto{
  background-image: url("../public/img/contacto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 56.25rem;
  margin-top: .625rem;
}

/* PAGINA QUIENES */

.titulo{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;

}
.titulo h1{
  font-family: "Hello";
  color: whitesmoke;
  text-shadow: .125rem .125rem .25rem black;
  margin: 1.25rem;
}
.content-1{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgba(250, 235, 215, 0.5);
  margin: 0rem 1.875rem 0rem 1.875rem;
  border-radius: .3125rem;
  border-style: double;
  align-items: center;
  margin-bottom: .9375rem;
  justify-content: space-between;
}
.content-1 div h2{
  font-family: "Amarillo";
  color: rgb(230, 222, 222);
  text-shadow: .125rem .125rem .25rem black;
  padding-bottom: 1.25rem;
}
.content-1 img{
  padding: 1.25rem;
  width: 25rem;
}
.content-1 .lona{
  padding: 1.25rem;
  width: 17.5rem;
  height: 25rem;
}
.content-1 div p{
  margin: 1.25rem;
  color: whitesmoke;
  text-shadow: .125rem .125rem .1875rem black;
}
.content-1 .tarjeta{
  padding: 1.25rem;
  width: 17.5rem;
  height: 25rem;
}
.content-1 .flyer{
  padding: 1.25rem;
  width: 17.5rem;
  height: 25rem;
}

div .viejo-logo{
  padding: 1.25rem;
  width: 15.625rem;
}